body,
html {
    margin: 0;
    padding: 0;
    font-family: "Space Mono", monospace;
    max-width: 1080px;
    margin: 0 auto;
}
.wrapper{
    width: 100%;
}
header{
    width: 100%;
    padding: 25px;
    border-radius: 5px;
    border: 1px solid rgb(236, 236, 236);
    margin:  15px 0 ;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background: rgb(238,174,202);
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}
.site-logo{
    border: 2px solid white;
    font-size: 2rem;
    font-weight: bold;
    padding: 10px;
}
.site-logo__content{
    display: flex;
    align-items: center;
}
.site-title{
    margin-left: 15px;
    font-weight: bold;
}
.container-fluid {
    min-height: 100vh;
    width: 100%;
    display: flex;
    border: 1px solid rgb(236, 236, 236);
    padding: 25px;
    border-radius: 5px;
}
.sidebar {
    min-height: 100vh;
    width: 20%;
    background: rgb(243, 243, 243);
    margin-right: 25px;
    border-radius: 5px;
    padding:  25px;
}
.form{
    width: 100%;
    margin-bottom: 25px;
    border-radius: 5px;
    border: 1px solid #ffff;
    text-align: center;
}
.form-input, .form-btn{
    width: 80%;
    border-radius: 5px;
    border: none;
    padding: 5px;
    margin-bottom: 15px;
}
.form-input{
    background: #ffff;
}
.form-btn{
    background: rgb(153, 153, 153);
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
}
.form-btn:hover{
    background: rgb(43, 109, 34) ;
}
.content {
    width: 80%;
    border-left: 1px solid  rgb(236, 236, 236);
    padding-left: 25px;
    overflow-y: auto;
}
footer{
    margin: 15px 0 ;
    border-radius: 5px;
    padding: 15px 25px ;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border: 1px solid rgb(236, 236, 236);
    background: rgb(238,174,202);
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}

.footer-title{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
span{
    font-size: 2rem;
}
.footer-title > h5{
    border: 2px solid black;
    padding: 3px;
    margin-left: 10px;
}
.social-links{
    list-style: none;
    display: flex;
    width: 150px;
    justify-content: space-between;
}
.social-links .links__item{
    display: inline-block;
    width: 30px;
    height: 30px;
}
.item_rel{
    width: 40px;
    height: 40px;
    padding: 15px;
    margin:10px 0  ;
    background: rgb(236, 236, 236);
    border-radius: 5px;
    text-decoration: none;
    color: black;
}
.item_rel:hover{
    background: rgb(189, 189, 189);
}